{% extends "PlantillaBase/base.html" %}

{% block title %}Realizar Reserva{% endblock %}

{% block mi_css_js %}

{% load static %}
<!-- Mi JavaScript -->
<script src="{% static 'RealizarReserva/ResumenReserva/javascript.js' %}"></script>

<!-- Mi CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'RealizarReserva/ResumenReserva/style.css' %}">
{% endblock %}

{% block contenido %}
<div id="ContenedorPrevisualizacionReserva">
    
    <h2>Confirmación de Reserva</h2>

    <div id="PrevisualizacionReserva">

        <h4>¿Está seguro que desea confirmar la reserva con la siguiente información?</h4>
        <div id="ResumenReserva">
            <p>Número Pedido: <span id="NumeroPedidoVal">{{ pedido.0 }}</span></p>
            <p>Operación: <span>{{ pedido.1 }}</span></p>
            <p>Tipo de Vehículo: <span>{{ pedido.2 }}</span></p>
            <p>Matrícula: <span>{{ pedido.3 }}</span></p>
            <p>Día de Reserva: <span id="DatoDiaReserva">{{ dia }}</span>
            <p>Período de Reserva: <span id="DatoPeriodoReserva">{{ horaInicio }} - {{ horaFin }}</span></p>
            <p>Vehiculo: <span id="DatoMuelle">{{ vehiculo }}</span></p>
        </div>

    </div>

    <div id="ContenedorBotonesConfirmarReserva">
        <div id="BotonesConfirmarReserva">
            <a><button id="BotonConfirmar" type="button">Confirmar</button></a>
            <a><button id="BotonVolver" type="button">Volver</button></a>
        </div>
    </div>

</div>
<script>
    var numPedido = {{numPedido|safe}};
    var idHueco = {{idHueco|safe}};
</script>
{% endblock %}